In [109]:
#Final Project import modules
import pandas as pd
import jupyter
import _json
import requests
import numpy
import os
import glob

In [110]:
#list out files in folder
data_files = os.listdir()
data_files

['.git',
 '.gitignore',
 '.vscode',
 'AKC_Master.csv',
 'AKC_National_Championship_winners.csv',
 'AKC_National_Championship_winners.xlsx',
 'AKC_Popular_Breeds_2013-2016.csv',
 'C.docx',
 'Popular_dogs.ipynb',
 'README.md',
 'test.py',
 '~$C.docx']

In [111]:
# Read in TWO text data sources (in any format).
# read the csv AKC_popular_breeds
df1 = pd.DataFrame()
df = pd.read_csv('AKC_Popular_Breeds_2013-2016.csv')
df.head()

                   Breed  2016 Rank  2015 Rank  2014 Rank  2013 Rank
0  Retrievers (Labrador)          1        1.0        1.0        1.0
1   German Shepherd Dogs          2        2.0        2.0        2.0
2    Retrievers (Golden)          3        3.0        3.0        3.0
3               Bulldogs          4        4.0        4.0        5.0
4                Beagles          5        5.0        5.0        4.0

In [112]:
#Read in TWO text data sources (in any format).
#read the csv AKC winners
df2 = pd.DataFrame()  
df = pd.read_csv('AKC_National_championship_winners.csv')
df.head

<bound method NDFrame.head of    Year                 Breed                                      Name  \
0  2013  Portuguese Water Dog   GCH CH Claircreek Impression de Matisse
1  2014          Skye Terrier        GCH CH Cragsmoor Good Time Charlie
2  2015   German Shepherd Dog  GCH CH Lockenhaus' Rumor Has It V Kenlyn
3  2016                  Puli         GCHB CH Cordmaker Mister Blue Sky

  Call Name    Group
0   Matisse  Working
1   Charlie  Terrier
2     Rumor  Working
3   Preston  Herding  >

In [113]:
#Clean your data and perform a pandas merge with your two data sets
#combine the files
path = r'C:\Users\rl5co\Desktop\myrepo\Final_Project'
all_files = glob.glob(path + "/*.csv")
li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
    
frame = pd.concat(li, axis=0, ignore_index=True)    
df.head

<bound method NDFrame.head of                      Breed  2016 Rank  2015 Rank  2014 Rank  2013 Rank
0    Retrievers (Labrador)          1        1.0        1.0        1.0
1     German Shepherd Dogs          2        2.0        2.0        2.0
2      Retrievers (Golden)          3        3.0        3.0        3.0
3                 Bulldogs          4        4.0        4.0        5.0
4                  Beagles          5        5.0        5.0        4.0
..                     ...        ...        ...        ...        ...
184               Sloughis        185        NaN        NaN        NaN
185               Harriers        186      183.0      181.0      173.0
186      English Foxhounds        187      184.0      183.0      177.0
187   Norwegian Lundehunds        188      182.0      184.0      175.0
188     American Foxhounds        189      181.0      180.0      176.0

[189 rows x 5 columns]>

In [117]:
#export combined .csv
df.to_csv('AKC_Master.csv', index=False)

In [118]:
import matplotlib.pyplot as plt

In [ ]:
#ax = df['AKC_Master.csv'].plot(kind='bar',title = "Popularity per year", figsize=(15,10),
#legend=True, Fontsize = 12)
#ax.set_xlabel("year", fontsize=12)
#ax.set_ylabel("Breed", fontsize=12)
#plt.show()

In [158]:
data = pd.read_csv(r"AKC_Master.csv")
data.head()
df = pd.DataFrame(data)

Year = df[['2016 Rank','2015 Rank', '2014 Rank', '2013 Rank']].head(12)
Breed = df['Breed'].head(12)
fig = plt.figure(figsize=(10,7))

#plt.bar(Year[0:0], Breed[0:0])
def new_func(Year, Breed):
    plt.bar(Breed[0:10],Year[0:10])



plt.show()